name: Licensed

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  licensed:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ruby/setup-ruby@1a615958ad9d422dd932dc1d5823942ee002799f # v1.227.0
        with:
          bundler-cache: true

      - name: Build Gem
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          gem build *.gemspec

      - uses: licensee/licensed-ci@98eef7c23bcf8211e108781a9594e969da913e89 # v1.11.2
        with:
          # override the command to use licensed built from this repo
          command: bundle exec licensed

          # changes made using GITHUB_TOKEN will not re-trigger this action.
          # set a custom token so that added or changed cached license files
          # will cause this workflow to run and validate cached contents
          #
          # see https://docs.github.com/en/actions/security-guides/automatic-token-authentication#using-the-github_token-in-a-workflow
          # for additional details on GITHUB_TOKEN not re-triggering this action
          github_token: ${{ secrets.GITHUB_TOKEN }}

          # the "push" workflow updates license metadata files on the branch being examined.
          # e.g. when the action is run on main, changes are pushed to main

          # the "branch" workflow creates a new branch for license file updates.
          # e.g. when the action is run on main, changes are pushed to a new "main-licenses" branch

          # see https://github.com/github/licensed-ci for more details
          workflow: branch
